/analys.html
/assets
/backup.css
/HKR.lecture3.html
/index.html
/LAB1.zip
/LTU.uppgift3.html
/LTUpresentation.html
/mall.html
/mantekilla
/mantekillaHOME.html
/mantekillaLOOKBOOK.html
/mantekillaSTORE.html
/node_modules
/pics.presentation
/portfolio.css
/portfolioABOUT.html
/portfolioHOME.html
/portfolioPROJECTS.html
/Practice
/Projects
/script.js
/styles
/styles.css
/test.css
/uppgift3.css